<%- contentFor('HeaderCss') %>
<!-- DataTables -->
<link
  href="public/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css"
  rel="stylesheet"
  type="text/css"
/>

<!-- Responsive datatable examples -->
<link
  href="public/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css"
  rel="stylesheet"
  type="text/css"
/>

<!-- Lightbox css -->
<link
  href="public/assets/libs/magnific-popup/magnific-popup.css"
  rel="stylesheet"
  type="text/css"
/>

<style>
  td {
    white-space: normal !important;
  }
</style>

<%- contentFor('breadcrumb') %>

<!-- start page title -->
<div class="row">
  <div class="col-12">
    <div
      class="page-title-box d-flex align-items-center justify-content-between"
    >
      <h4 class="mb-0">Products</h4>

      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">
            <a href="javascript: void(0);">Store</a>
          </li>
          <li class="breadcrumb-item active">Products</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- end page title -->

<%- contentFor('body') %>

<div class="row">
  <div class="col-lg-12">
    <div>
      <div>
        <button
          type="button"
          class="btn btn-success waves-effect waves-light mb-3"
          onclick="window.location.href='add-product'"
        >
          <i class="mdi mdi-plus me-1"></i> Add Product
        </button>
      </div>

      <div class="table-responsive mb-4">
        <table
          class="
            table table-centered
            datatable
            dt-responsive
            nowrap
            table-card-list
          "
          style="border-collapse: collapse; border-spacing: 0 12px; width: 100%"
        >
          <thead>
            <tr class="bg-transparent">
              <th style="width: 10px">No.</th>
              <th style="width: 80px">Product ID</th>
              <th>Poster</th>
              <th>Name</th>
              <th>Category</th>
              <th>Price</th>
              <th>Discount</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>

              <td>
                <a href="javascript: void(0);" class="text-dark fw-bold"
                  >#PR0001</a
                >
              </td>

              <td>
                <img
                  src="https://lh3.googleusercontent.com/pw/AM-JKLVbRYQ9Kju-DAI2R_QJxcp08SemjyDWDbu38GWFIBuFvzjmWoOl1vJJk7d3U7pmRBNqnj_lwLotN0vbElVIlIKTKi4wHevS1lUE1KXYvsGzsFM_6jfzNiyiF82FSwVpV-ijizIfMPQLcFR-9rgcK2Do=w620-h929-no?authuser=0"
                  alt=""
                  class="img-fluid d-block rounded"
                  style="height: 100px"
                />
              </td>

              <td>
                <span>The Dark Pictures: Man of Medan</span>
              </td>

              <td>Horror</td>

              <td>$29.99</td>

              <td>None</td>

              <td>
                <a href="javascript:void(0);" class="px-3 text-primary"
                  ><i class="uil uil-pen font-size-18"></i
                ></a>
                <a href="javascript:void(0);" class="px-3 text-danger"
                  ><i class="uil uil-trash-alt font-size-18"></i
                ></a>
              </td>
            </tr>
            <tr>
              <td>2</td>

              <td>
                <a href="javascript: void(0);" class="text-dark fw-bold"
                  >#PR0002</a
                >
              </td>

              <td>
                <img
                  src="https://lh3.googleusercontent.com/sZX4TYC8pzxpyIG6YgwoqgsfbRQAa-Kxd2S01JvaEm9sLOCdK-O2RO_R3OIXuo3JX1ahnbhYU6ApnZaysjbcqxEW1OjyHUj2SXOxc5LyRyykC9LnGsTiKLOVsAzZ48xhVL0ynUfShn0YmH33jBSXL6TqP6EWnpdv9unUlQAwauZwd9FjqTzbcSsi6UK3XbP7xCmMml9vh0O3lwS1JAWoE0M1Qtkt56lBuBxYpPInkmsKXCrwAAEBA5iZkJECGO5fNym7NGVGR--G-Z6aZeDwMqwWCkH2s23FfiGp4PJJdJF_-aHGNh792A79QW_9lAxaEbJuBi577L-aLHJs9Hv8UChrSWSfJ2SpZ6lUtXUZ5BoHgOEA11HpNm73tg_oT3qtBBp6h23cddohvp7hqn-uJWqqqmXEbUjb9jStmmORYO-YJ5vRJ9qqO74mSoSeOkLJTw8XVshM4rEPbEq-b-InDXDgpMW0V_h4iiaY1QkJ0_dBwyQutVRq3JtcPB1zfCVbFuc0DcePVahQj7H09d7JWL7nh2SOXtCww2Q7vOv4DV7tYF4z3lgZIWdDLGoDKP7DhinDYQSjCHdoB9lmzVFcRTIAkt56NQ-xRj-f5p3d1wEb1-nxOhvL0fGAgwmuekOmGraFqNeGE2OCjlqJuV-Rkhq51X1KjReQlLaGYkbrJmH4jsPwQiNYB4pw1L8Ti0ZM5o8V31JNYxLWI52mkrMlkgs=w620-h929-no?authuser=0"
                  alt=""
                  class="img-fluid d-block rounded"
                  style="height: 100px"
                />
              </td>

              <td>
                <span>PHOGS</span>
              </td>

              <td>Puzzle</td>

              <td>$12.49</td>

              <td>None</td>

              <td>
                <a href="javascript:void(0);" class="px-3 text-primary"
                  ><i class="uil uil-pen font-size-18"></i
                ></a>
                <a href="javascript:void(0);" class="px-3 text-danger"
                  ><i class="uil uil-trash-alt font-size-18"></i
                ></a>
              </td>
            </tr>
            <tr>
              <td>3</td>

              <td>
                <a href="javascript: void(0);" class="text-dark fw-bold"
                  >#PR0003</a
                >
              </td>

              <td>
                <img
                  src="https://lh3.googleusercontent.com/e8Q2s6AxcmHHSmZKFojR2nbTJGt_0AM2eH-YgACqmjamQN-D897mWOgTnMKklMLw8HWibJnEiR6ClToQH90SMdOGYXhfa0pwf6avbFC7boY6Mwv4_MCMKJNP_QK9yUfNer-6naLqzaNjC-iO1fThRoIoxbMI7c7n7WMfjnjck_AkxNfbHAYIIvnE2LTTFiyQNl42oBgCR6iq-b9f_IOOWpxZscRhefnZN_MKwU-UA0y-rwQUOx4fHMGzNt4BA0MkMCBlg7t_XQkeMzDe-yzwOZl1lZMM-SaAoTesgAxm_92_pxYyoqcF_IXWoJ4zUSfRqvvA2ykuMWzjM3OnGCrzrRT71QbURZYq9KwD8JBc-UHyWbXp8jtVKtty8yX6953PVH5d7XU2sNb1OGBiXhFm5EFGSlGRUj_9tA6Gb2mbHdXlgPK28XPBX1H5qtnX81Lp5dVLwmCUXc1XGk8BmKMIv6yH5v1Bj6Zlj9R9KYpTCK4PEqlbHz7eT0vbo8LPcLsX1vKmowuT46-KiBD2PTUAyzEOYty4rmxd4GT9UMrGDkklv-SHviTm9em1yJqFcsueq4hS8cCZPOymT6nzRkMOFl0SQ_8GnyzRAb_ryqr0onYTDLWbODlqINHaRJ7tS7dMtWhTQZeFN0BsJ4sPg_M2iOEF5eZa-zVarxFquVuEQ4f4Z9fQEs9vwklYWBLoyaSHc3oGxBIHtCeF8nGvD-luZ7w=w473-h686-no?authuser=0"
                  alt=""
                  class="img-fluid d-block rounded"
                  style="height: 100px"
                />
              </td>

              <td>
                <span>The Evil Within</span>
              </td>

              <td>Horror</td>

              <td>$19.99</td>

              <td>None</td>

              <td>
                <a href="javascript:void(0);" class="px-3 text-primary"
                  ><i class="uil uil-pen font-size-18"></i
                ></a>
                <a href="javascript:void(0);" class="px-3 text-danger"
                  ><i class="uil uil-trash-alt font-size-18"></i
                ></a>
              </td>
            </tr>
            <tr>
              <td>4</td>

              <td>
                <a href="javascript: void(0);" class="text-dark fw-bold"
                  >#PR0004</a
                >
              </td>

              <td>
                <img
                  src="https://lh3.googleusercontent.com/MBT60bNrSVdxmcxnu3H0kht9UHhu0wzhJGxtuDpZWXrdxFJ-uUQglxun6UPkLwr1AwyCtj3VYVARMQ4EXnfiaBq0aJcnPrunRDx7c6_n2gLEPqWbnH_ZQMxFM3EtfdZP7dDm6AISgfI1fN-3e3polXY2-srR9ZjoHrzlCCCta2UT54ZPLbJ4b3WSP_9uIk7YyCGWKAoN-lH0KYvhnfwdEBi2W-AEGWFJ8uNOE_b0RgqbVWUlrSqhvsahPKHOF4-coD5mMJ2Vj0yYagQAp__h67sxY2sC8rcNMrux98zF5FYqLwEDRSbnxpRcFp5_4IP3OGMhCkl6SmoATSJ5QPOQ1U-Fx1yTPJ1cz6P5nzNPmXWQV3-sJBn0fH-pY8SY8mIZ5-x205mtzRuJcl4u69LDd3dEg-w9j0K0MSNCDOYc0cfuFj0DwYI205N62LZHwRkIbc3WBXlIhBjhD8bGg_bFbJAuxWNIy5uT37zLxqdGLvHMXmcK2QfhMDFF0HthtHF7C3SCWOUPE-SDM2nT-Y9_26Ia-csvJTULyCUnhW-rPNcdBqFpOxELKxt3LW38Jnlfb0bF7SUxoGpwHdOXgrRhLdiotf1KUA6Nf2bKkCtGpKnliq7hYg6OcNeg1xS2uRsPFp2_St5y01yJZI9_gWwg9BDDBWA1KyY179h5FGC67q1w0IVVRxRq2wUMhA_78Tq5RqDyE_7M9pATYegeOpbFL-w=w658-h929-no?authuser=0"
                  alt=""
                  class="img-fluid d-block rounded"
                  style="height: 100px"
                />
              </td>

              <td>Human Fall Flat</td>

              <td>
                <span>Puzzle</span>
              </td>

              <td>$6.79</td>

              <td>30%</td>

              <td>
                <a href="javascript:void(0);" class="px-3 text-primary"
                  ><i class="uil uil-pen font-size-18"></i
                ></a>
                <a href="javascript:void(0);" class="px-3 text-danger"
                  ><i class="uil uil-trash-alt font-size-18"></i
                ></a>
              </td>
            </tr>
            <tr>
              <td>5</td>

              <td>
                <a href="javascript: void(0);" class="text-dark fw-bold"
                  >#PR0005</a
                >
              </td>

              <td>
                <img
                  src="https://lh3.googleusercontent.com/FoCxbM6JSnVtpXTYwyAhGRrAot5TfndbAiQqyGo-_tevLKhirpUzR-mAB-eC4W6Gso3YGvXbrUaWzvj06q6qtmefHb36Ypy9fK1DA5D_fzuaXoAGgHTb10DbZnFFXk_o-RuuBx0Pa6MFSFhIQ8sXt-D1-hyQNPi_FM0MS9wcDVjDqUX4987ElprsUpOjJvqb62anH5n8qFsc1z3UbLuCZwQRQmP0Dd8hHPZSF64olP5zvKdOF0JkySpr3xZ2Q9bAbAtFTKzGCA93mC1S0FcydEIIMSyLfFSYKJTD9THS-eXMS2paxltUC_qd2LAHbL0_17Tq_nttHVJe9-GGfAwm0WAMrQXI4htk0OHflQe6EsjkhRcVnZ02J3MB9tkNOcCmyqNrGJxsrskL4eoL1xBwdZmlPV5AwMa9G82uL9Lr4kyFuuVe3n6y7uUYy-zK8mO-occrMzXKBVHrXbwrix2OiwAuOeV7TwdfwaN4T8BdpcCdjO6MOCFv6L08Th-t6mpqLhbgLKs1bqA6U90zIfxFKRsmZPkCL_Ekj7XB8k1Vsha0WFo8hTC-y2zAPZv1V3ceCteYCfARw6PtTnOuUydz49uL6MSdC6nGBnJGz9vNAYqfli_f_DaDYzBhZw_hvtFuroaw-cAgOztwWRw6ZoDGo6s1T2TjmOcjvjtDz9nJQ3PpJrkjJPYPF5BJ4NzNq94E6pBV7bbh_PO1SH2PpN5ACNw=w531-h800-no?authuser=0"
                  alt=""
                  class="img-fluid d-block rounded"
                  style="height: 100px"
                />
              </td>

              <td>Assassin's Creed: Valhalla</td>

              <td>
                <span>Action</span>
              </td>

              <td>$59.99</td>

              <td>None</td>

              <td>
                <a href="javascript:void(0);" class="px-3 text-primary"
                  ><i class="uil uil-pen font-size-18"></i
                ></a>
                <a href="javascript:void(0);" class="px-3 text-danger"
                  ><i class="uil uil-trash-alt font-size-18"></i
                ></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- end row -->

<!-- init pop-up form-->
<div class="card mfp-hide mfp-popup-form mx-auto" id="add-cat">
  <div class="card-body">
    <h4 class="mt-0 mb-4">Add Category</h4>
    <form>
      <div class="row">
        <div class="col-lg-6">
          <div class="mb-3">
            <label class="form-label" for="name">Category ID</label>
            <input
              type="text"
              class="form-control"
              id="id"
              placeholder="Enter Category ID"
            />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="mb-3">
            <label class="form-label" for="email">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              placeholder="Enter Name"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="mb-3">
            <label class="form-label" for="subject">Description</label>
            <textarea
              class="form-control"
              id="description"
              rows="3"
              placeholder="Enter Description"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="text-end">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<%- contentFor('FooterJs') %>

<!-- Required datatable js -->
<script src="public/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="public/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>

<!-- Responsive examples -->
<script src="public/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="public/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

<!-- init js -->
<script src="public/assets/js/pages/ecommerce-datatables.init.js"></script>

<!-- Magnific Popup-->
<script src="public/assets/libs/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- lightbox init js-->
<script src="public/assets/js/pages/lightbox.init.js"></script>

<%- contentFor('BottomJs') %>
