<%- contentFor('HeaderCss') %>
<!-- DataTables -->
<link
  href="/public/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css"
  rel="stylesheet"
  type="text/css"
/>

<!-- Responsive datatable examples -->
<link
  href="/public/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css"
  rel="stylesheet"
  type="text/css"
/>

<!-- Lightbox css -->
<link
  href="/public/assets/libs/magnific-popup/magnific-popup.css"
  rel="stylesheet"
  type="text/css"
/>

<style>
  td {
    white-space: normal !important;
  }
</style>

<%- contentFor('breadcrumb') %>

<!-- start page title -->
<div class="row">
  <div class="col-12">
    <div
      class="page-title-box d-flex align-items-center justify-content-between"
    >
      <h4 class="mb-0">Products</h4>

      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">
            <a href="javascript: void(0);">Store</a>
          </li>
          <li class="breadcrumb-item active">Products</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- end page title -->

<%- contentFor('body') %>

<div class="row">
  <div class="col-lg-12">
    <div>
      <div>
        <button
          type="button"
          class="btn btn-success waves-effect waves-light mb-3"
          onclick="window.location.href='/products/create'"
        >
          <i class="mdi mdi-plus me-1"></i> Add Product
        </button>
      </div>

      <div class="table-responsive mb-4">
        <table
          class="
            table table-centered
            datatable
            dt-responsive
            nowrap
            table-card-list
          "
          style="border-collapse: collapse; border-spacing: 0 12px; width: 100%"
        >
          <thead>
            <tr class="bg-transparent">
              <th style="width: 10px">No.</th>
              <th style="width: 80px">Product ID</th>
              <th>Poster</th>
              <th>Name</th>
              <th>Tags</th>
              <th>Price</th>
              <th>Discount</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i = 0; i < products.length; i++) { %>
            <tr>
              <td><%= i+1 %></td>
              <td>
                <a href="javascript: void(0);" class="text-dark fw-bold"
                  >#<%- products[i].id %></a
                >
              </td>

              <td>
                <img
                  src="<%- products[i].poster %>"
                  alt=""
                  class="img-fluid d-block rounded"
                  style="height: 100px"
                />
              </td>

              <td>
                <span><%- products[i].name %></span>
              </td>

              <td><%- products[i].tag.join(", ") %></td>

              <td>$<%- products[i].price %></td>

              <td><%- products[i].discount %> %</td>

              <td>
                <a
                  href="edit-product/<%- products[i].id %>"
                  class="px-3 text-primary"
                  ><i class="uil uil-pen font-size-18"></i
                ></a>
                <a href="javascript:void(0);" class="px-3 text-danger"
                  ><i class="uil uil-trash-alt font-size-18"></i
                ></a>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- end row -->

<%- contentFor('FooterJs') %>

<!-- Required datatable js -->
<script src="/public/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/public/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>

<!-- Responsive examples -->
<script src="/public/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="/public/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

<!-- init js -->
<script src="/public/assets/js/pages/ecommerce-datatables.init.js"></script>

<%- contentFor('BottomJs') %>
