<%- contentFor('HeaderCss') %>

<!-- Lightbox css -->
<link href="public/assets/libs/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" />

<%- contentFor('breadcrumb') %>

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">Product Detail</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Store</a></li>
                    <li class="breadcrumb-item active">Product Detail</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<%- contentFor('body') %>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-5">
                        <div class="product-detail">
                            <div class="row">
                                <div class="col-1"></div>                                   
                                <div class="col-10">
                                    <div class="tab-content position-relative" id="v-pills-tabContent">
                                        <div class="product-img">
                                                <img src="public/assets/images/product/img-1.jpg" alt="" class="img-fluid mx-auto d-block rounded" data-zoom="public/assets/images/product/img-1.jpg">
                                        </div>
                                    </div>
                                    <div class="row text-center mt-2">
                                        <div class="col-sm-6 d-grid">
                                            <button onclick="window.location.href='edit-product'" type="button" class="btn btn-primary btn-block waves-effect waves-light mt-2 waves-light">
                                                <i class="uil uil-pen me-2"></i>Edit Product
                                            </button>
                                        </div>
                                        <div class="col-sm-6 d-grid">
                                            <button type="button" class="btn btn-danger btn-block waves-effect mt-2 waves-light">
                                                <i class="uil uil-trash-alt me-2"></i>Delete Product
                                            </button>
                                        </div>
                                    </div>   
                                </div>
                                <div class="col-1"></div>  
                            </div>
                            <div class="row">
                                <div class="zoom-gallery">
                                    <div class="row">
                                        <div class="col-xl-3 col-md-4 col-6">
                                            <div class="mt-4">
                                                <a href="public/assets/images/example_product/scs-1.jpg" title="Screenshot 1">
                                                    <div class="img-fluid">
                                                        <img src="public/assets/images/example_product/scs-1.jpg" alt="" class="img-fluid d-block">
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-md-4 col-6">
                                            <div class="mt-4">
                                                <a href="public/assets/images/example_product/scs-2.jpg" title="Screenshot 2">
                                                    <div class="img-fluid">
                                                        <img src="public/assets/images/example_product/scs-2.jpg" alt="" class="img-fluid d-block">
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-md-4 col-6">
                                            <div class="mt-4">
                                                <a href="public/assets/images/example_product/scs-3.jpg" title="Screenshot 3">
                                                    <div class="img-fluid">
                                                        <img src="public/assets/images/example_product/scs-3.jpg" alt="" class="img-fluid d-block">
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-md-4 col-6">
                                            <div class="mt-4">
                                                <a href="public/assets/images/example_product/scs-4.jpg" title="Screenshot 4">
                                                    <div class="img-fluid">
                                                        <img src="public/assets/images/example_product/scs-4.jpg" alt="" class="img-fluid d-block">
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-md-4 col-6">
                                            <div class="mt-4">
                                                <a href="public/assets/images/example_product/scs-5.jpg" title="Screenshot 5">
                                                    <div class="img-fluid">
                                                        <img src="public/assets/images/example_product/scs-5.jpg" alt="" class="img-fluid d-block">
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="col-xl-7">
                        <div class="mt-4 mt-xl-3 ps-xl-4">
                            <h5 class="font-size-14"><a href="#" class="text-muted"></a>Horror</h5>
                            <h4 class="font-size-20 mb-3">The Dark Picture: Man of Medan</h4>

                            <div class="text-muted">
                                <span class="badge bg-success font-size-14 me-1"><i class="mdi mdi-star"></i> 4.2</span> 234 Reviews
                            </div>

                            <div class="row text-center mt-4">
                                <div class="col-sm-3 d-grid">
                                    <a class="popup-youtube btn btn-rounded btn-danger mo-mb-2" href="https://www.youtube.com/watch?v=fp1JHDBBLGY">Watch trailer</a>
                                </div>
                            </div>   

                            <h5 class="mt-4 pt-2"><del class="text-muted me-2">$29.99</del>$19.99 <span class="text-danger font-size-14 ms-2">- 33.33 % Off</span></h5>

                            <p class="mt-4 text-muted">The Dark Pictures Anthology is a series of stand-alone, branching cinematic horror games that can also be played online with a friend. In Man of Medan, five friends set sail on a holiday diving trip that soon changes into something much more sinister.</p>

                            <div>
                                <div class="row">
                                    <p class="mt-1 text-muted">In Man of Medan, five friends set sail on a holiday diving trip that soon changes into something much more sinister...</p>
                                    <p class="mt-1 text-muted">Embark on a horrific journey aboard a ghost ship.</p>
                                    <p class="mt-1 text-muted">Experience your terrifying story with a friend online or go for safety in numbers with up to five players offline</p>
                                    <p class="mt-1 text-muted">All playable characters can live or die. The choices you make will decide their fate.</p>
                                    <p class="mt-1 text-muted">Who will you save?</p>
                                    <p class="mt-1 text-muted">Don't. Play. Alone.</p>
                                </div>
                            </div>

                            <div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mt-3">
                                            <h5 class="font-size-14">Tags:</h5>
                                            <ul class="list-unstyled product-desc-list text-muted">
                                                <li><i class="mdi mdi-circle-medium me-1 align-middle"></i>AAA</li>
                                                <li><i class="mdi mdi-circle-medium me-1 align-middle"></i>Adult content</li>
                                                <li><i class="mdi mdi-circle-medium me-1 align-middle"></i>Multiplayer</li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="mt-3">
                                            <h5 class="font-size-14">Developer:</h5>
                                            <p>Supermassive Games</p>
                                            <h5 class="font-size-14">Publisher:</h5>
                                            <p>BANDAI NAMCO Entertainment Europe</p>
                                            <h5 class="font-size-14">Release date:</h5>
                                            <p>30 Aug, 2019</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->

                <div class="mt-4">
                    <h5 class="font-size-14 mb-3">System requirements: </h5>
                    <div class="product-desc">
                        <ul class="nav nav-tabs nav-tabs-custom" role="tablist">
                            <li class="nav-item">
                              <a class="nav-link active" id="min-tab" data-bs-toggle="tab" href="#min" role="tab">Minimum</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="rec-tab" data-bs-toggle="tab" href="#rec" role="tab">Recommended</a>
                            </li>
                        </ul>
                        <div class="tab-content border border-top-0 p-4">
                            <div class="tab-pane fade show active" id="min" role="tabpanel">
                                <div class="table-responsive">
                                    <table class="table table-nowrap mb-0">
                                        <tbody>
                                            <p>Requires a 64-bit processor and operating system</p>
                                            <tr>
                                                <th scope="row" style="width: 20%;">OS</th>
                                                <td>Windows 7 64-bit</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Processor</th>
                                                <td>Intel Core i5-3470 or AMD FX-8350</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Memory</th>
                                                <td>8 GB RAM</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Graphics</th>
                                                <td>NVIDIA GeForce GTX 750 Ti or AMD Radeon HD 7870</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">DirectX</th>
                                                <td>Version 11</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Network</th>
                                                <td>Broadband Internet connection</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Storage</th>
                                                <td>80 GB available space</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="rec" role="tabpanel">
                                <div class="table-responsive">
                                    <table class="table table-nowrap mb-0">
                                        <tbody>
                                            <p>Requires a 64-bit processor and operating system</p>
                                            <tr>
                                                <th scope="row" style="width: 20%;">OS</th>
                                                <td>Windows 10 64-bit</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Processor</th>
                                                <td>Intel Core i5- 8400 or AMD Ryzen 5</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Memory</th>
                                                <td>8 GB RAM</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Graphics</th>
                                                <td>NVIDIA GeForce GTX 1060 or AMD Radeon RX 580</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">DirectX</th>
                                                <td>Version 11</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Network</th>
                                                <td>Broadband Internet connection</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Storage</th>
                                                <td>80 GB available space</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mt-4">
                    <h5 class="font-size-14 mb-3">Reviews : </h5>
                    <div class="text-muted mb-3">
                        <span class="badge bg-success font-size-14 me-1"><i class="mdi mdi-star"></i> 4.2</span> 234 Reviews
                    </div>
                    <div class="border p-4 rounded">
                        <div class="border-bottom pb-3">
                            <p class="float-sm-end text-muted font-size-13">12 July, 2020</p>
                            <div class="badge bg-success mb-2"><i class="mdi mdi-star"></i> 4.1</div>
                            <p class="text-muted mb-4">It will be as simple as in fact, it will be Occidental. It will seem like simplified</p>
                            <div class="d-flex align-items-start">
                                <div class="flex-1">
                                    <h5 class="font-size-15 mb-0">Samuel</h5>
                                </div>

                                <ul class="list-inline product-review-link mb-0">
                                    <li class="list-inline-item">
                                        <a href="#"><i class="uil uil-thumbs-up"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#"><i class="uil uil-comment-alt-message"></i></a>
                                    </li>
                                </ul>
                            </div>
                            
                        </div>

                        <div class="border-bottom py-3">
                            <p class="float-sm-end text-muted font-size-13">06 July, 2020</p>
                            <div class="badge bg-success mb-2"><i class="mdi mdi-star"></i> 4.0</div>
                            <p class="text-muted mb-4">Sed ut perspiciatis unde omnis iste natus error sit</p>
                            <div class="d-flex align-items-start">
                                <div class="flex-1">
                                    <h5 class="font-size-15 mb-0">Joseph</h5>
                                </div>

                                <ul class="list-inline product-review-link mb-0">
                                    <li class="list-inline-item">
                                        <a href="#"><i class="uil uil-thumbs-up"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#"><i class="uil uil-comment-alt-message"></i></a>
                                    </li>
                                </ul>
                            </div>
                            
                        </div>

                        <div class="border-bottom py-3">
                            <p class="float-sm-end text-muted font-size-13">26 June, 2020</p>
                            <div class="badge bg-success mb-2"><i class="mdi mdi-star"></i> 4.2</div>
                            <p class="text-muted mb-4">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet</p>
                            <div class="d-flex align-items-start">
                                <div class="flex-1">
                                    <h5 class="font-size-15 mb-0">Paul</h5>
                                </div>

                                <ul class="list-inline product-review-link mb-0">
                                    <li class="list-inline-item">
                                        <a href="#"><i class="uil uil-thumbs-up"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#"><i class="uil uil-comment-alt-message"></i></a>
                                    </li>
                                </ul>
                            </div>
                            
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end row -->

<%- contentFor('FooterJs') %>

<!-- Magnific Popup-->
<script src="public/assets/libs/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- lightbox init js-->
<script src="public/assets/js/pages/lightbox.init.js"></script>

<%- contentFor('BottomJs') %>