<%- contentFor('HeaderCss') %>

<!-- Plugins css -->
<link href="public/assets/libs/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet" type="text/css" />

<%- contentFor('breadcrumb') %>

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">Edit Customer</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Customer</a></li>
                    <li class="breadcrumb-item active">Edit Customer</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<%- contentFor('body') %>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Select the information you want to edit</h4>
                <p class="card-title-desc">Customer ID: #MN0123</p>
                <div class="mb-3 row">
                    <label for="example-text-input" class="col-md-2 col-form-label">Name</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" value="William Shipp" id="name">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-md-2 col-form-label">Gender</label>
                    <div class="col-md-10">
                        <select class="form-select">
                            <option value="M" selected>Male</option>
                            <option value="F">Female</option>
                            <option value="NB">Nonbinary</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="example-date-input" class="col-md-2 col-form-label">Date of birth</label>
                    <div class="col-md-10">
                        <input class="form-control" type="date" value="1986-08-19" id="dob">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="example-tel-input" class="col-md-2 col-form-label">Telephone</label>
                    <div class="col-md-10">
                        <input class="form-control" type="tel" value="1-(555)-555-5555" id="tel">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="example-email-input" class="col-md-2 col-form-label">Email</label>
                    <div class="col-md-10">
                        <input class="form-control" type="email" value="WilliamShipp@jourrapide.com" id="email">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="example-password-input" class="col-md-2 col-form-label">Password</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" value="hunter2" id="password">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="example-date-input" class="col-md-2 col-form-label">Join Date</label>
                    <div class="col-md-10">
                        <input class="form-control" type="date" value="2020-04-14" id="join-date">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%- contentFor('FooterJs') %>

<!-- Plugins js -->
<script src="public/assets/libs/bootstrap-editable/js/index.js"></script>
<script src="public/assets/libs/moment/min/moment.min.js"></script>

<!-- Init js-->
<script src="public/assets/js/pages/form-xeditable.init.js"></script>

<%- contentFor('BottomJs') %>